ADMIN_CODES=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_USER=
ENABLE_REGISTRATION_RATE_LIMIT=
FIREBASE_API_KEY=
FIREBASE_APP_ID=
FIREBASE_DATABASE_ID=
FIREBASE_PROJECT_ID=
VITE_API_URL=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_DATABASE_ID=
VITE_FIREBASE_PROJECT_ID=
VITE_GOOGLE_MAPS_API_KEY=